MONGO_URI=
PORT=



curl -X POST https://dutechdata-backend.onrender.com/api/auth/request-otp \
  -H "Content-Type: application/json" \
  -d '{"phoneNumber":"+2348012345678"}'


  curl -X POST https://dutechdata-backend.onrender.com/api/auth/verify-otp \
  -H "Content-Type: application/json" \
  -d '{
    "phoneNumber":"+2348012345678",
    "otp":"848107",
    "email":"usman@example.com"
  }'